.login-form{
  width: 35vh;
  margin: 30vh auto;
  position: relative;

  h2{
    text-align: center;
  }
  &-field{
    width: 100%;
    height: 25px;
    margin: 5px 0;
  }
  &-btn{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: none;
    background: cornflowerblue;
    color: white;
    font-size: 20px;
  }
}
.exampleUser{
  width: 35vh;
  background: aquamarine;
  position: absolute;
  top: -15vh;
}
.login-form-error {
  color: DarkRed;
}
.login-form-error:before{
  content: url("./../../img/warning.png");
  margin-right: 5px;
  color: DarkRed;
}